<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ShowLikes"
            android:exported="false" />
        <activity
            android:name=".ShowComment"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".EditAboutSection"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProfilePicture"
            android:exported="false" />
        <activity
            android:name=".EditUniversitiesDetails"
            android:exported="false" />
        <activity
            android:name=".EditCity"
            android:exported="false" />
        <activity android:name=".ViewUserProfile" />
        <activity
            android:name=".EditNameUserName"
            android:exported="false" />
        <activity
            android:name=".EditProfileMenu"
            android:exported="false" />
        <activity
            android:name=".SettingsAccountDetails"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".MainUI"
            android:exported="false" />
        <activity
            android:name=".CreateProfile"
            android:exported="false" />
        <activity
            android:name=".AfterLogin"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="false" />
        <activity
            android:name=".portfolioAdd_activity"
            android:exported="false" />
        <activity
            android:name=".ShowUserForChat"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ShowConnections"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".FirebaseMessagingService"
            android:exported="true"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>